.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.h1tag {
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}

.ptag {
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1px;
}

.h2tag {
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 15px;
    line-height: 1px;
}

.h21tag {
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 15px;
    line-height: 1px;
}

.inputtag {
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 13px;
    border: 1px solid black;
    margin-left: 30px;
    border-radius: 10px;
    padding-left: 10px;
    height: 30px;
    width: 350px;
}

.input1tag {
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 13px;
    border: 1px solid black;
    margin-left: 30px;
    border-radius: 10px;
    padding-left: 10px;
    height: 30px;
    width: 350px;
}

.formtag {
    text-align: center;
}

.buttontag {
    border-radius: 5px;
    height: 40px;
    width: 365px;
    font-size: 20px;
    font-weight: 20px;
    background-color: rgb(48, 48, 241);
    margin-left: 8px;
    margin-bottom: 18px;
}

.divtag {
    border: 30px;
    width: 420px;
    height: 520px;
    border: 2px solid rgba(0, 0, 0, 1);
    text-align: center;
    margin-left: 450px;
    border-radius: 30px;
    margin-top: 45px;
    padding-bottom: 40px;

}
.login-dec{
        text-decoration: none;
        color: black;
}
.login-cre{
    text-decoration: none;
    color:rgb(29, 29, 226) ;
}
.tdtag {
    padding-left: 30px;
}

.div1tag {
    padding-right: 100px;
    color: rgb(29, 29, 226);
}

.div2tag {
    color: rgb(36, 36, 214);
}

.p4tag {
    line-height: 10px;
    font-weight: 200px;
    font-size: 20px;
    margin-top: 30px;
}

.p5tag {
    line-height: 0.5px;
    font-weight: 200px;
    font-size: 20px;
    margin-top: 20px;

}

.b1tag {
    height: 50px;
    width: 305px;
    padding-left: 100px;
    border-radius: 10px;
    margin-top: 20px;
}

.h3tag {
    line-height: 0.5px;
    padding-top: 5px;
}

.containertag {
    display: flex;
    align-items: center;
}

.imgtag {
    height: 30px;
    width: 30px;
    margin-top: 4px;
}

.container1tag {
    display: flex;
    align-items: center;
}

.img3tag {
    height: 30px;
    width: 30px;
    margin-bottom: 50px;
}

.b2tag {
    height: 50px;
    width: 150px;
    padding-left: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.h4tag {
    line-height: 0.5px;
}

.containtag {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 60px;
}

.containerbutttag {
    display: flex;
}

.b2tag {
    margin-right: 10px;
    padding-top: 9px;
}

.b3tag {
    height: 50px;
    width: 145px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-right: 20px;
    padding-top: 9px;
}

.img1tag {
    height: 30px;
    width: 30px;
    margin-bottom: 50px;
    padding-left: 10px;
}

.h4tag {
    line-height: 0.5px;
    padding-bottom: 45px;
    text-align: center;
}

.h5tag {
    line-height: 0.5px;
    padding-bottom: 45px;
    text-align: center;
    padding-left: 10px;
    margin-right: 20px;
}
